/* Info.css */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin:  12rem 0 10rem 0;
}

.profile {
  order: 2;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.info {
  order: 1;
  flex: 2;
  text-align: center;
  padding: 20px;
  max-width: 800px;
}

.proImg {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.info h1 {
  margin: 0;
  font-size: 2em;
}

.info h3 {
  color: #666;
  margin-top: 2px;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0 ;
}

.icon a {
  color: inherit;
  text-decoration: none;
}

.icon a:hover {
  transform: scale(1.2);
}

.info p {
  margin: 10px 0;
  margin-bottom: 2rem;
  /* text-align: justify; */
  line-height: 1.5rem;
  letter-spacing: 1.5px;
}



/* Dark Mode Styles */
.dark-mode .info h1, 
.dark-mode .info h3, 
.dark-mode .info p, 
.dark-mode .icon a {
  color: #E1D9D1; /* Text color in dark mode */
}

.dark-mode .info h3 {
  color: #cccccc; /* Subheading color in dark mode */
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    margin: 2rem 0 ;
  }

  .profile {
    order: 1;
    margin-bottom: 20px;
  }

  .info {
    order: 2;
  }
}
