/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0 0 2px #d0bdbd;
  position: absolute;
  top: 3rem;
  left: 11rem;
  border-radius: 2rem;
  z-index: 1000;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.navbar-logo span {
  color: red;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  margin: 0 1.5rem;
  transition: color 0.3s;
  cursor: pointer;
  display: inline-block;
  position: relative;
  /* color: #0087ca; */
}

.navbar-links a:hover {
  /* color: #ffd147; */
  transform: scale(1.1);
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f2d30adc;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #000000;
}


/* Dark mode  Styles */
body.dark-mode {
  background-color: #121212; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.navbar.dark {
  background-color: #121212; /* Matching dark navbar background */
  
}

.navbar-links a {
  color: inherit; /* Inherit the color from the body */
}




.dark-mode-toggle {
  font-size: 24px;
  cursor: pointer;
  color: inherit; /* Inherit the color from the navbar */
  margin-left: auto;
  padding: 0 20px;
}



/* Responsive Styles */
@media (max-width: 1000px) {
  .navbar {
    box-shadow: none;
    position: unset;
    padding: 10px 20px;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 60px; /* Adjust top position so it doesn't overlap with the navbar */
    right: 0;
    width: 100%;
    flex-direction: column;
    background-color: #000000fc;
    color: #E1D9D1;
    padding: 20px;
    gap: 2rem;
    text-align: center;
    z-index: 999;
    font-weight: bold;
  }

  .navbar-links.active {
    display: flex; /* Show the navbar links when active */
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    top: 15px;
    left: 20px; /* Keep toggle button on the right side */
    color: inherit;
  }

  
}

/* Add padding to main content to prevent it from hiding under the navbar */
.main-content {
  padding-top: 70px;
}

