/* ProjectTab.css */
.project-tab {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    background-color: #fff; /* Default light mode background */
    color: #000; /* Default light mode text color */
  }
  
  .project-tab:hover {
    transform: scale(1.05);
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .tech-stack {
    margin: 10px 0;
  }
  
  .tech-item {
    background-color: #eee; /* Default light mode background for tech items */
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
  }
  
  /* .project-link {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF; Default link color
    text-decoration: none;
  } */

  .project-link  {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin: 0 1.5rem;
    transition: color 0.3s;
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
  }

  .project-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f2d30adc;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .project-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .project-link:hover {
    transform: scale(1.1);

  }
  
  /* Dark Mode */
  .dark-mode .project-tab {
    background-color: #121212; /* Dark mode background */
    color: #fff; /* Dark mode text color */
    border: 1px solid #333; /* Dark mode border */
  }
  
  .dark-mode .tech-item {
    background-color: #333; /* Dark mode background for tech items */
  }
  
  .dark-mode .project-link {
    color: #FFD147; /* Dark mode link color */
  }
  
  .dark-mode .project-tab:hover {
    transform: scale(1.05);
  }
  