/* Project.css */
.projects-section {
    padding: 50px;
    text-align: center;
    background-color: #f9f9f9; /* Default light mode background */
    color: #000; /* Default light mode text color */
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  /* Dark Mode */
  .dark-mode .projects-section {
    background-color: #1a1a1a; /* Dark mode background */
    color: #fff; /* Dark mode text color */
  }
  